<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
</head>
<body>

    <h2>Noticias </h2>
    <table>
        <tr>
            <td>ID</td>
            <td>Titulo</td>
            <td>Noticia</td>
        </tr>

        <% console.log(noticias)
        noticias.forEach( element => {  %>
            <tr>
                <td><%= element.id_noticia %></td>
                <td><%= element.titulo %></td>
                <td><%= element.noticia %></td>
            </tr>
    <%   })  %>

    </table>
</body>
</html>